@import './varible.scss';
@import './base.scss';
@import './theme.scss';


@each $item in $margin {
  .ml-#{$item} {
    margin-left: #{$item}px;
  }
  .mr-#{$item} {
    margin-right: #{$item}px;
  }
  .mt-#{$item} {
    margin-top: #{$item}px;
  }
  .mb-#{$item} {
    margin-bottom: #{$item}px;
  }
  .pl-#{$item} {
    padding-left: #{$item}px;
  }
  .pr-#{$item} {
    padding-right: #{$item}px;
  }
  .pt-#{$item} {
    padding-top: #{$item}px;
  }
  .pb-#{$item} {
    padding-bottom: #{$item}px;
  }
  .mx-#{$item} {
    margin-left: #{$item}px;
    margin-right: #{$item}px;
  }
  .my-#{$item} {
    margin-top: #{$item}px;
    margin-bottom: #{$item}px;
  }
  .px-#{$item} {
    padding-left: #{$item}px;
    padding-right: #{$item}px;
  }
  .py-#{$item} {
    padding-top: #{$item}px;
    padding-bottom: #{$item}px;
  }
  .p-#{$item} {
    padding: #{$item}px;
  }
  .m-#{$item} {
    margin: #{$item}px;
  }
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  color: #999;
  font-size: 12px;
  background-color:aliceblue;
  z-index: 0;
}
.disc-list{
  width: 100%;
  text-align: center;
  line-height: 24px;
}