
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
.theme{color: #eda268;}
.theme-bg{background-color: #125d98}
.base-button{color:#eda268}
.base-button.primary-button{color: #eda268;background-color: #125d98}
.App {
  color: #343434;
  font-size: 14px;
}
.cursor{
  cursor: url(../images/panda.svg), crosshair;
}
.main-gradient{
  background-image: radial-gradient(#fff1eb, #ace0f9 100%);
}

/* 总体的渐变效果 */
.full_gradient {
  z-index: -1;
  position: fixed;
  height: 100vw !important;
  width: 100vh !important;
  left: 0;
  top: 0;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.7s cubic-bezier(0.47, 0.04, 0.22, 0.92);
  background-color: #86939e;
  &.state-complete{
    transition: transform 0.7s cubic-bezier(0.47, 0.04, 0.22, 0.92), height 0.2s ease, width 0.2s ease;
    transform: none;
    border-radius: 0;
    height: 100vh !important;
    width: 100vw !important;
    left: 0 !important;
    top: 0 !important;
  }
}

/* 圆形块状效果 */
.circle{
  border-radius: 100%;
}

/* 常用宽度 */
.w-full{
  width: 100%;
}
/* 常用弹性盒子布局 */
.boxflex{
  display: flex;
  justify-content: space-between;
}
/* 按钮效果 */
.base-button{
  display: inline-block;
  height: 28px;
  padding: 0 8px;
  color: #eda268;
  line-height: 28px;
  background-color: #125d98;
  letter-spacing: 1px;
  outline: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.base-button.default-button{
  background-color: transparent;
  border: 1px solid #d1d9d9;
}
.base-button.text-button{
  color: #eda268;
  border: 1px solid transparent;
  background-color: transparent;
}

/* 文字效果 */
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}

/* 展开折叠效果 */
.fold-box{
  display: flex;
  & .text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    line-height: 24px;
  }
  & .text::before{
    content: '';
    float: right;
    width: 0;
    height: 100%;
    margin-top: -20px;
  }
  .btn{
    float: right;
    clear: both;
    height: 20px;
    padding: 1px 4px;
    line-height: 20px;
    color: #233e8b;
  }
  .btn::after{
    content: '展开';
  }
  .exp:checked+.text .btn::after{
    content: '收起';
  }
  .exp:checked+.text .btn::before{
    visibility: hidden;
  }
  .exp:checked+.text{
    -webkit-line-clamp: 9999;
    max-height: none;
  }
  .exp{
    visibility: hidden;
    width: 0;
  }
}

/* 基础效果 */
.center-block{
  width: 1100px;
  margin: 0 auto;
}
.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}
.block{
  display: block;
}
.vertical-middle{
  vertical-align: middle;
}
.pos-relative{
  position: relative;
  top: 0;
  left: 0;
}

/* 文章标题 */
.essay-title{
  line-height: 48px;
}

/* 设置滚动条样式 */
::-webkit-scrollbar{
  width: 2px;
  border-radius: 2px;
}
::-webkit-scrollbar-track{
  background-color: #deedf0;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb{
  width: 2px;
  height: 12px;
  border-radius: 2px;
  background-color: #343434;
}

/* 更多 */
.more-box{
  display: flex;
  & .text{
    display: -webkit-box;
    overflow: hidden;
    text-align: justify;
    line-height: 24px;
  }
  .btn{
    height: 20px;
    padding: 1px 4px;
    line-height: 20px;
    color: #233e8b;
  }
}