.editor{
  width: 50%;
  padding: 8px;
  .textArea{
    width: 100%;
    height: calc(100% - 32px);
    line-height: 36px;
    border: 1px solid transparent;
    outline: none;
    resize: none;
    overflow-y: auto;
  }
}
.previewer {
  width: 50%;
  line-height: 36px;
  word-break: break-all;
  border-left: 1px solid #cccccc; 
  .html-previewer {
    height: calc(100% - 32px);
    overflow: auto;
  }
  & ul{
    padding-left: 20px;
    list-style-type: disc;
  }
  code {
    display: block;
    padding: 15px 12px;
    font-size: 12px;
    color: #333;
    word-break: normal;
    background-color: #f8f8f8;
    overflow-x: auto;
  }
  blockquote{
    border-left: 4px solid #c8c8c8;
    background-color: #f8f8f8;
    & p{
      padding-left: 8px;
    }
  }
}
.toolBar{
  width: 100%;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #cccccc;
  & ul{
    display: flex;
    & li{
      padding: 2px 4px;
      line-height: 28px;
    }
  }
}
.create-new{
  width: 100%;
  margin-top: 36px;
  .editor-header{
    background-color: #ffffff;
  }
  .editor-title{
    width: 90%;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
  }
  .editor-buttons{
    height: 48px;
    line-height: 48px;
  }
  .editor-box{
    background-color: #ffffff;
    height: calc(100vh - 260px);
    border: 1px solid #cccccc;
  }
}
