.avator{
  display: inline-block;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 50px;
  vertical-align: middle;
}
.right-bar{
  height: 28px;
  line-height: 28px;
}
.banner{
  height: 600px;
}
.description{
  width: 300px;
  padding-top: 80px;
}
.navBar{
  & ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
