
/* 旋转logo效果 */
.logo-box{
  position: absolute;
  top: -100px;
  left: 55px;
  width: 300px;
  height: 300px;
  padding: 12px;
  z-index: 33;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 100%;
    height: 100%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner{
  height: 600px;
  /* background-image: linear-gradient(to top, rgb(253, 219, 146) 0%, rgb(209, 253, 255) 100%);  */
}
.banner.full_gradient.state-complete{
  height: 680px !important;
}
.view-box {
  position: absolute;
  top: 70px;
  right: 0;
  width: 500px;
  height: 500px;
  z-index: 1;
}
.pole-box{
  position: absolute;
  top: 0;
  left: 180px;
  width: 50px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 25px 25px 3px 3px;
  box-shadow: 3px 3px 18px #e8ecef;
  z-index: 32;
}
.left-view {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50px 8px 8px 50px;
  box-shadow: -2px 1px 6px #1b1a17;
}
.left-view p{
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-between;
}
.editor-title{
  width: 100%;
  height: 48px;
  line-height: 48px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
}
.editor-box{
  background-color: #ffffff;
}